{{ define "main" }}

{{ partial "page-title.html" . }}

<section id="blog-full-width">
    <div class="container">
        {{ range .Data.Pages }}
        <div class="row align-items-stretch mb-5">
            <div class="col-md-5 col-12 mb-4 mb-md-0 wow fadeInLeft d-flex align-items-center justify-content-center">
                <a href="{{ .Permalink }}" class="w-100 text-center">
                    {{ with .Params.image }}<img class="img-fluid rounded" src="{{ . | absURL }}" alt="post-image" style="width: 100%; height: auto; max-height: 320px; object-fit: contain;" />{{ end }}
                </a>
            </div>
            
            <div class="col-md-7 col-12 d-flex flex-column justify-content-between">  
                <article class="wow fadeInDown d-flex flex-column h-100 justify-content-between" data-wow-delay=".3s" data-wow-duration="500ms">
                    <div class="blog-content d-flex flex-column h-100">
                        <h2 class="blogpost-title mt-0">
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                        </h2>
                        <div class="blog-meta mb-3">
                            {{ with .Params.author }}<span>by
                                {{ . }}
                            </span>
                            {{ end }}
                            {{ with .Params.tags }}
                            <span>
                                {{ delimit . ", " }}
                            </span>
                            {{ end }}
                        </div>
                        <p class="mb-4">
                            {{ .Summary }}
                        </p>
                        {{ with .Permalink }}
                        <div class="mt-auto">
                            <a href="{{ . }}" class="btn btn-dafault btn-details hvr-bounce-to-right">Continue Reading</a>
                        </div>
                        {{ end }}
                    </div>
                </article>
            </div>
        </div>
        {{ end }}
    </div>
</section>

{{ partial "cta.html" . }}

{{ end }}